@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');
/* Components */
@import 'components/button';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "latruffe";
    src: url("/public/images/VVDS_LaTruffe-Regular.ttf");
  }
@layer components {
    .card{
        transform: translatey(0px);
        animation: float 2s ease-in-out infinite;
    }
  @keyframes float {
    0% {
        /* box-shadow: 0 2px 5px 0px rgba(0,0,0,0.3); */
        transform: translatey(0px);
    }
    50% {
        /* box-shadow: 0 3px 5px 0px rgba(0,0,0,0.2); */
        transform: translatey(-20px);
    }
    100% {
        /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.4); */
        transform: translatey(0px);
    }
}
}
